/* VARIABLES */

:root { 

    /* PALETTE */
    --primary: #7D04A7;
    --secundary: #4E4848;
    --ligh: #FFFFFF;
    --accent: #36A5E4;

    /* FONT SIZES */
    --text-xxl: 4.8em;
    --text-xl: 3.6em;
    --text-lg: 3.2em;
    --text-md: 2.2em;
    --text-sm: 1.6em;
    --text-xs: 1.2em;

    /* SPACINGS */

    --sp-xxl: 12em;
    --sp-xl: 8em;
    --sp-lg: 5em;
    --sp-md: 3.2em;
    --sp-sm: 1.6em;
    --sp-xs: 0.8em;

}