/** FOOTER **/
footer{
    background-color: #36A5E4;
    color: var(--ligh);
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    font-size: var(--text-md);

}

.imagen_footer{
    margin-right: var(--sp-md);
}