/** BANNER**/

#banner{
    display: grid;
    place-items: center;

}

/** HISTORIA**/

#historia{
    background-color: #7D04A7;
    padding-top: var(--sp-lg);
    padding-bottom: var(--sp-lg);
    display: flex;
    justify-content: space-between;
    gap: var(--sp-md);
}


.historiaRM {
    color: var(--ligh);
    flex: 1 1 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}

.historiaRM .historiaRM__titulo  {

    font-size: var(--text-lg);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2.2rem;
}

.historiaRM .historiaRM__link  {

    font-size: var(--sp-md);
    display: flex;
    justify-content: flex-end;
    color: var(--ligh);
}

/** PPAL HISTORIA**/

#ppal_historia{

    background-color: #7D04A7;
    color: var(--ligh);
    font-size: var(--text-sp);
    max-height: max-content;
    max-width: 100%;
    display: grid;
    place-items: center;

}


.ppal_historia_inicio{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.ppal_historia_inicio_titulo{

    font-size: var(--sp-sm);
    display: flex;
    justify-content: center;

}

.ppal_historia_inicio_p1{

    display: flex;
    flex-direction: column;
    margin: var(--sp-xs);
}

.ppal_historia_inicio_p2{

    display: flex;
    flex-direction: row;
    margin-top: var(--sp-sm);
    margin-bottom: var(--sp-sm);
    margin-left: var(--sp-xs);
}

.ppal_historia_inicio_p2text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: var(--sp-md);
}

.ppal_historia_inicio_p3{
    margin: var(--sp-xs);

}



/** ESTADIO **/

#estadio {
    background-color: #36A5E4;
    padding-top: var(--sp-lg);
    padding-bottom: var(--sp-lg);
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex: 1 1 50%;
    gap: 1rem;

}

.estadio_imgs {
    display: grid ;
    grid-template-columns: repeat(2 1fr) ; 
    grid-template-rows: repeat(2 1fr) ;
    gap: var(--sp-xs) ;
}


.estadio__contenido {

    display: flex;
    justify-content: space-between
}

.estadio__contenido .estadio_texto {
color: var(--ligh);
display: flex;
align-items: center;
justify-content:center;
flex-direction: column;
margin: var(--sp-md);

}

.estadio__contenido .estadio_texto .estadio_texto_titulo {

    font-size: var(--sp-md);
    display: flex;
    justify-content: center;
    align-items: center;

}

.estadio__contenido .estadio_texto .estadio_texto_parrafo {

display: flex;
justify-content: center;
align-items: center;

}

.estadio__contenido .estadio_texto .estadio_texto_link {

color: var(--ligh);
font-size: var(--sp-md);
display: flex;
justify-content: flex-end;

} 


/** JUGADORES **/

#jugadoresppal{

    background-color: var(--secundary);
    padding-top: var(--sp-lg);
    padding-bottom: var(--sp-lg);
    color: var(--ligh);
    display: flex;
    justify-content: space-around;
    font-size: var(--sp-xs);
    margin: 0%;

}

.jugadores_courtois{
    margin: 10px;
}

.jugadores_alaba{
    margin: 10px;
}
.jugadores_kroos{
    margin: 10px;
}
.jugadores_rodrigo{
    margin: 10px;
}


#jugadores{

    background-color: var(--secundary);
    padding-top: var(--sp-lg);
    padding-bottom: var(--sp-lg);
    color: var(--ligh);
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: var(--sp-xs);

    

    
}

.jugadores_courtois {

display: flex;
flex-direction: column;
justify-content: flex-end;
margin-left: var(--sp-md);


}

.jugadores_courtois .jugadores_courtois_datos{

    background-color: #36A5E4;
}


.jugadores_alaba .jugadores_alaba_datos{

    background-color: #36A5E4;
}

.jugadores_kroos {

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    
    }

.jugadores_kroos .jugadores_kroos_datos{

    background-color: #36A5E4;
}

.jugadores_rodrigo .jugadores_rodrigo_datos{

    background-color: #36A5E4;
    margin-right: var(--sp-md);
}

.jugadores_rodrigo .jugadores_rodrigo_link{

    color: var(--ligh);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-evenly;
    margin-right: var(--sp-md);
}

.link_ver_mas {
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: var(--text-sm);
    gap:var(--sp-sm);

}

.link_ver_mas svg {
    transition: transform .3s ease-in;}


.link_ver_mas:hover svg{
    transform: translateX(20px)}

