/** JUGADORES PPAL **/

.Thibaut{
    display: flex;
    justify-content:center;
}

.Thibaut_datos{

    background-color: #4E4848;
    color: #FFFFFF;
    height: 400px;
    width: 350px;
    font-size: var(--text-md);
    margin: var(--sp-sm);
}

.carvajal{
    display: flex;
    justify-content:center;
}

.carvajal_datos{

    background-color: #4E4848;
    color: #FFFFFF;
    height: 400px;
    width: 350px;
    font-size: var(--text-md);
    margin: var(--sp-sm);
}

.David{
    display: flex;
    justify-content:center;
}

.David_datos{

    background-color: #4E4848;
    color: #FFFFFF;
    height: 400px;
    width: 350px;
    font-size: var(--text-md);
    margin: var(--sp-sm);
}

.Nacho{
    display: flex;
    justify-content:center;
}

.Nacho_datos{

    background-color: #4E4848;
    color: #FFFFFF;
    height: 400px;
    width: 350px;
    font-size: var(--text-md);
    margin: var(--sp-sm);
}

.Nacho{
    display: flex;
    justify-content:center;
}

.Nacho_datos{

    background-color: #4E4848;
    color: #FFFFFF;
    height: 400px;
    width: 350px;
    font-size: var(--text-md);
    margin: var(--sp-sm);
}

.Modric{
    display: flex;
    justify-content:center;
}

.Modric_datos{

    background-color: #4E4848;
    color: #FFFFFF;
    height: 400px;
    width: 350px;
    font-size: var(--text-md);
    margin: var(--sp-sm);
}

.Toni{
    display: flex;
    justify-content:center;
}

.Toni_datos{

    background-color: #4E4848;
    color: #FFFFFF;
    height: 400px;
    width: 350px;
    font-size: var(--text-md);
    margin: var(--sp-sm);
}

.Camavinga{
    display: flex;
    justify-content:center;
}

.Camavinga_datos{

    background-color: #4E4848;
    color: #FFFFFF;
    height: 400px;
    width: 350px;
    font-size: var(--text-md);
    margin: var(--sp-sm);
}

.Valverde{
    display: flex;
    justify-content:center;
}

.Valverde_datos{

    background-color: #4E4848;
    color: #FFFFFF;
    height: 400px;
    width: 350px;
    font-size: var(--text-md);
    margin: var(--sp-sm);
}

.Aurelien{
    display: flex;
    justify-content:center;
}

.Aurelien_datos{

    background-color: #4E4848;
    color: #FFFFFF;
    height: 400px;
    width: 350px;
    font-size: var(--text-md);
    margin: var(--sp-sm);
}

.Hazard{
    display: flex;
    justify-content:center;
}

.Hazard_datos{

    background-color: #4E4848;
    color: #FFFFFF;
    height: 400px;
    width: 350px;
    font-size: var(--text-md);
    margin: var(--sp-sm);
}

.Benzema{
    display: flex;
    justify-content:center;
}

.Benzema_datos{

    background-color: #4E4848;
    color: #FFFFFF;
    height: 400px;
    width: 350px;
    font-size: var(--text-md);
    margin: var(--sp-sm);
}
